:root {
	--container-width: 998px;
	--container-padding: 15px;

	--font-main: 'Poppins',sans-serif;
	--font-accent: 'Manrope', sans-serif;

	--page-bg: #fff;
	--text-color: #000;
	--accent: #ac182c;
	--link-color: #2578c8;


    --laptop-size: 1150px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}